/**
 * @file
 *
 * Slideshow for Bear Starter Theme  Styling
 *
 */
/***********
~SLIDESHOW
***********/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jason\/drupalvagrant\/public\/dev-site\.vbox\.local\/www\/bear\/profiles\/bear\/themes\/bear_skin\/sass\/slideshow\.scss}line{font-family:\0000312}}
.flexslider {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 0;
  border-radius: 0;
  box-shadow: 0;
  margin: 0 0 50px 0;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jason\/drupalvagrant\/public\/dev-site\.vbox\.local\/www\/bear\/profiles\/bear\/themes\/bear_skin\/sass\/slideshow\.scss}line{font-family:\0000323}}
.flexslider li p {
  text-align: center;
  font-size: 110%;
  margin: 0;
  padding: 10px 0;
}
